<!--PAGE HEADER-->
<h1>Create Account</h1>

<!--FORM: CREATE ACCOUNT-->
<form method="post" action="/signup">
    Enter Username: <input type="text" name="username"><br><br>
    Enter Password: <input type="text" name="password"><br><br>
    <input type="submit" value="Create Account">
</form>

<!--FLASH MESSAGES-->
<% if flash.has?(:message) %>
  <font color="red"><%= flash[:message] %></font>
<% end %>